{% extends "ewaste/base.html" %}
{% block content %}

<body>
    <div class='content '>
           
</body>
<h2>You have been Logged Out</h2>

        <div class="border-top pt-3 container1">
            <small class="text-muted">
                <a class="btn btn-primary btn-lg btn-block" type="submit" href="{% url 'login'%}">Log In Again In</a>
            </small>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </div>
{% endblock content %}
