{% extends "ewaste/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section container1">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group color">
                <legend class="border-bottom mb-4 color1">Reset Password</legend>
                {{ form | crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-3" type="submit">Reset</button>

            </div>
        </form>
<div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
         

    </div>

{% endblock content %}