{% extends "ewaste/base.html" %}
{% block content %}

<div class="alert alert-info container1 ">
    An email with instructions has been sent to your email account
</div>

<div class="alert-info container1 content-section">
     <h1>Check Email</h1>
</div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </div>
{% endblock content %}
