{% extends "ewaste/base.html" %}
{% block content%}

<body>

  <div class='content '>
    <div class="row">
      <div class="container col-md-3 boz">
        <p>E-Waste</p>
        <p>Management</p>
        <p>Application</p>

      </div>
    </div>
    <div class="row">
      <div class="container col-md-7 box">
        <!-- <div class="info"> -->
        <p> Industrial revolution threat started during middle of 18th century and
          continued to flourish throughout 19th and 20th centuries has brought
          a lot of changes in the way we live. Industrial productiona has moved
          away from methods of producing by hand towards more
          sophisticated and automated methods.

          Research and development in every fact of the industrialization
          gained momentum and many products were introduced into the
          market. With the advent of the electrical and alectronic technology, new
          set of products have hit the markets.

          Alongside of these developments came the disadvantages and
          challenges. Rampant production and usage of electronic components
          have built up huge piles of debris which is termed as 'electronic
          waste' or 'e-waste'.

          several government agencies, voluntary organisations, individual
          scientists and subject matter experts have come together and
          brainstormed about devising safe methods of disposal of e-waste.
          The collective efforts of them have shaped up as 'e-waste'
          Management'.</p>
      </div>
    </div>
  </div>
  </div>

</body>

{% endblock content%}