{% extends "ewaste/base.html" %}
{% block content %}

<style>
    .colorx{
        color: yellow;
    }
    .content {
   background-color: rgb(64,73,83);
}
</style>

    <div class="container1 content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 colorx">Delete Laptop</legend>
                <h2>Are you sure to delete Item! "{{object.name}}"</h2>
            </fieldset>
            <div class="form-group pt-3">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'phones-detail' object.id %}">Cancel</a>

            </div>
        </form>

    </div>

{% endblock content %}